<table *ngIf="mostrarTodoPersona&&mostrarTodoJuego" class="table">
    <thead>
      <tr>
        <th scope="col">Juego</th>
        <th scope="col">Usuario</th>
        <th scope="col">Fecha del alquiler</th>
        <th scope="col">Fecha fin del alquiler</th>
      </tr>
    </thead>
    <tbody >
        <tr *ngFor="let item of mostrarTodoJuego">
          <td >{{ item.nombreJuego}}</td>
          <td >{{ item.nombreUsuario }}</td>
          <td>@twitter</td>
          <td>@twitter</td>
        </tr>
      </tbody>
  </table>
