<div>
    <div class="row" *ngIf="juegos">
      <div class="col"></div>
      <div class="col"  *ngFor="let juego of juegos">
        <div  class="card" style="width: 18rem;">
          <img src="{{juego.foto}}" class="card-img-top" alt="{{juego.titulo}}">
          <h5 style="text-align: center;" class="card-title">{{juego.titulo}} +{{juego.pegi}}</h5>
          <p style="text-align: center;">{{juego.company}}</p>
          <div class="card-body">
              <div class="col"> <span><i class="bi bi-pencil-square" routerLink='/Juegos/detalle/{{juego.id}}'></i></span></div>
              <div class="col"><span style="color: red;" (click)="eliminaJuegos(juego)"><i class="bi bi-trash"></i></span></div>
            </div>
        </div>
      </div>
      <div style="text-align: center;">
        <button class="button-85" role="button"  routerLink="/Juegos/agregar">Añadir</button>
      </div>
     
    </div>
  </div>
