<div>
  <div class="row">
    <div class="col"></div>
    <div class="col"  *ngFor="let usuario of usuarios">
      <div  class="card" style="width: 18rem;">
        <img src="{{usuario.foto}}" class="card-img-top" alt="{{usuario.nombre}}">
        <h5 style="text-align: center;" class="card-title">{{usuario.nombre}} {{usuario.apellido}}</h5>
        <div class="card-body">
            <div class="col"> Editar Usuario<span><i class="bi bi-pencil-square" routerLink='/Usuario/detalle/{{usuario.id}}'></i></span></div>
        </div>
      </div>
    </div>
    <div style="text-align: center;">
      <button class="button-85" role="button"  routerLink="/Usuario/detalle/agregar">Añadir</button>
    </div>
  </div>
</div>




