<div class="row" *ngIf="usuario">
    <div class="col"></div>
    <div class="col">
      <div  class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="{{usuario.nombre}}">
        <h5 style="text-align: center;" class="card-title">{{usuario.nombre}} {{usuario.apellido}}</h5>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <input [(ngModel)]="usuario.nombre" placeholder="name">
                <input [(ngModel)]="usuario.apellido" placeholder="name">
                <input [(ngModel)]="usuario.email" placeholder="name">
              </ul>
        </div>
      </div>
    </div>
    <button (click)="enviarUsuario()">Enviar Usuario</button>
  </div>
 

    