<nav class="navbar navbar-dark navbar-expand-lg bg-dark text-white">
    <div class="container-fluid">
      <a class="navbar-brand text-white" routerLink="" >Ludoteca</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" routerLink="Usuario/listado">Usuarios</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="Juegos/listado">Juegos</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" routerLink="Alquileres/listado">Alquileres</a>
          </li>
      </ul>
        
      </div>
    </div>
  </nav>
